@inherits LayoutComponentBase
@using Radzen.Blazor

<RadzenDialog />
<div class="col">
    <div class="row">
        <NavMenu />


        <main class="col-xs " style="height:100vh">
            @Body
        </main>
    </div>
</div>


